body,ul,li,ol,h1,h2,h3,h4,h5,h6,a,p{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #666;
  text-decoration: none;
}
body{
  font-family: Tahoma,Arial,Roboto,sans-self;
  background: #f4f4f4;
  color: #666;
  height: auto;
  position: relative;
}
//banner
.swiper-container .swiper-slide img{
  display: block;
  width: 100%;
  height: auto;
}

//五个app图标
.qlink{
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  padding: 15px 0;
  a{
    color: #666;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20%;
    float: left;
    img{
      border-radius: 3.0rem;
      display: block;
      height: 60px;
      margin: 0 auto;
      width: 60px;
    }
    span{
      display: block;
      font-size: 15px;
      margin-top: 7px;
    }
  }
}

//智能头条
.first-news {
  background: #fff;
  padding: 12px 15px;
  .firsticon{
    border-right: 1px solid #e1e1e1;
    float: left;
    font-size: 12px;
    height: 16px;
    padding-right: 5px;
    img{
      font-size: 12px;
      height: 16px;
      overflow: hidden;
      width: 63px;
    }
  }
  .scrolltext{
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    .first{
      margin-top: 0;
      color: #444;
      font-size: 11px;
      line-height: 16px;
      overflow: hidden;
      a{
        display: block;
        font-size: 13px;
        height: 16px;
        line-height: 16px;
        .first-mark{
          color: #f66;
          float: left;
          font-style: normal;
          padding: 0 5px;
        }
        i{
          display: block;
          height: 16px;
          line-height: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font:inherit;
        }
      }
    }
  }
}

//掌上抢
.buybox{
  background: white;
  margin-top: 1px;
  .buy-menu{
    border-bottom: 1px solid #eaeaea;
    clear: both;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    position: relative;
    .buyred{
      color: #f55;
      display: inline-block;
      font-size: 15px;
    }
    .index-countdown{
      color: #222;
      display: inline-block;
      font-size: 12px;
      margin-left: 8px;
      .starttime{
        i{
          border: 1px solid #ccc;
          padding: 1px;
        }
      }
    }
    .session{
      color: #222;
      position: relative;
      font-size: 14px;
      left: 70px;
      top: 0;
    }
  }
}
.swiper-wrapper{
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0ms;
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}
.buybox .swiper-container{
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .swiper-slide{
    width: 33.3333333%!important;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    .star-plist{
      background: #fff;
      border-bottom: 1px solid #eaeaea;
      overflow: hidden;
      li{
        margin: 10px 0;
        padding: 0;
        width: auto;
        border-right: 1px solid #f1f1f1;
        text-align: center;
        a{
          display: block;
          .pimg{
            margin: 0 5px;
            display: block;
            position: relative;
            text-align: center;
            img{
              height: 95px;
              width: 95px;
              margin: 0 auto;
              overflow: hidden;
            }
          }
          .start-title{
            margin: 5px 5px 0;
            color: #555;
            display: block;
            font-size: 13px;
            height: 16px;
            line-height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .start-price{
            margin: 5px 5px 0;
            position: relative;
            color: #f55;
            display: block;
            font-size: 14px;
            text-align: center;
            .original-price{
              color: #aaa;
              font-size: 10px;
              font-style: normal;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}

//限时特价
.menu-ad img {
  display: block;
  height: auto;
  width: 100%;
}

//明星单品
.floor-title{
  color: #666;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 100%;
  em{
    color: #ccc;
    font-style: normal;
  }
}
.star-product{
  .flexBox{
    display: flex;
  }
  .star-plist{
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    li{
      border-right: 1px solid #f1f1f1;
      padding: 15px 0 7px;
      text-align: center;
      width: 50%;
      a{
        display: block;
        .star-tips{
          border: 1px solid #e1e1e1;
          border-radius: 2px;
          display: inline-block;
          margin: 0 20px;
          overflow: hidden;
          padding: 3px 9px 3px 4px;
          vertical-align: middle;
          img{
            float: left;
            height: 17px;
            overflow: hidden;
            width: 17px;
          }
          em{
            color: #222;
            float: left;
            font-style: normal;
            font-size: 13px;
            height: 17px;
            line-height: 17px;
            margin-left: 5px;
          }
        }
        .pimg{
          display: block;
          margin: 7px 10px 0;
          position: relative;
          text-align: center;
          img{
            height: 150px;
            width: 150px;
            margin: 0 auto;
            overflow: hidden;
          }
        }
        .star-plist{
          color: #555;
          display: block;
          font-size: 13px;
          height: 16px;
          line-height: 16px;
          margin: 7px 8px 0;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.start-price{
  position: relative;
  color: #f55;
  display: block;
  font-size: 14px;
  margin: 5px 8px 0;
  text-align: center;
}
.pdot {
  font-size: 11px;
}

//新品上市
.price-r{
  background: rgba(0,0,0,0.4);
  bottom: 20px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-style: normal;
  height: 27px;
  line-height: 27px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 54px;
}
.ds-1{
  color: #222;
  display: block;
  font-size: 14px;
  margin-top: 12px;
  padding: 0 15px;
  font-weight: 100;
}
.ds-2{
  color: #999;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  margin-top: 6px;
  overflow: hidden;
  padding-bottom: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px;
}
.top-level{
  clear: both;
  width: 100%;
  ul li a{
    background: #fff;
    margin-bottom: 10px;
    display: block;
    span{
      display: block;
      position: relative;
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}

//手机
.floor-bigimg{
  clear: both;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}
.star-plist{
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  li{
    float: left;
    text-align: left;
    border-right: 1px solid #f1f1f1;
    padding: 15px 0 7px;
    width: 50%;
    box-sizing: border-box;
    a{
      display: block;
    }
  }
}
.star-plist .pimg{
  display: block;
  margin: 7px 10px 0;
  position: relative;
  text-align: center;
  img{
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
  }
}

element.style {
}
.star-plist li a, .top-level ul li a, .plist .star-plist li span {
  display: block;
}
.star-plist .start-title {
  color: #555;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  margin: 7px 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-norms{
  color: #999;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  margin: 4px 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plist .star-plist .start-price {
  position: relative;
  text-align: left;
  display: block;
}
.start-price {
  color: #f55;
  font-size: 14px;
  margin: 5px 8px 0;
}

//点击查看更多产品
.morepro{
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
  color: #666;
  display: block;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}

//更多帮助
.mod-help {
  background: #fff;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 3px;
  text-align: center;
  .help-contents{
    padding: 13px 0;
    .contents-item{
      display: block;
      -webkit-box-flex: 1;
      border-right: 1px solid #d6d6d6;
      color: #666;
      font-size: 11px;
      width: 33.3333%;
      box-sizing: border-box;
      float: left;
      i{
        font: inherit;
        border: 1px solid #aaa;
        border-radius: 50%;
        color: #666;
        display: block;
        font-size: 12px;
        height: 31px;
        line-height: 31px;
        margin: 0 auto;
        width: 31px;
      }
      em{
        font: inherit;
        display: block;
        height: 12px;
        line-height: 12px;
        margin-top: 7px;
      }
    }
  }
}

.help-number{
  margin-top: 46px;
  color: #999;
  border-top: 1px solid #d6d6d6;
  font-size: 10px;
  line-height: 37px;
}
.copyright {
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 10px;
}

//选项
.menu-box {
  background: #fff;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  bottom: 0;
  height: 53px;
  left: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 111;
  .flexBox{
    display: flex;
    li{
      text-align: center;
      -webkit-box-flex: 1;
      display: block;
      flex: 1;
      em{
        display: block;
        height: 33px;
        margin: 0 auto;
        width: 50px;
      }
      span{
        color: #555;
        display: block;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}
.menu-box .on .layer-home {
  background: url('../images/shouye.png') no-repeat;
  background-size: 50px 33px;
}
.menu-box .layer-category {
  background: url('../images/fenlei.png') no-repeat;
  background-size: 50px 33px;
}
.menu-box .layer-cart {
  background: url('../images/gouwuche.png') no-repeat;
  background-size: 50px 33px;
}
.menu-box .layer-center {
  background: url('../images/wo.png') no-repeat;
  background-size: 50px 33px;
}
.menu-box .on span {
  color: #19a243;
}

//动画
#marqueebox{
  animation:zhinengtoutiao 20s linear infinite;
}
@keyframes zhinengtoutiao {
  0%{
    margin-top: 0;
  }
  13%{
    margin-top: 0;
  }
  16.66666%{
    margin-top:-16px;
  }
  30%{
    margin-top:-16px;
  }
  33.333333%{
    margin-top: -32px;
  }
  46%{
    margin-top: -32px;
  }
  49.99999%{
    margin-top: -48px;
  }
  63%{
    margin-top: -48px;
  }
  66.666666%{
    margin-top: -64px;
  }
  80%{
    margin-top: -64px;
  }
  83.33333%{
    margin-top: -80px;
  }
  97%{
    margin-top: -80px;
  }
  100%{
    margin-top: -96px;
  }
}